In [1]:
import pandas as pd
import json
import os
import geopandas as gpd
import folium
import matplotlib.pyplot as plt
import numpy as np
from folium.plugins import TimeSliderChoropleth
from branca.colormap import linear
import HTA_helpers as h

In [11]:
#path = 'data/

In [4]:
def gen_times_list(frequency):
    #****frequency defaults to mins. Enter value as number
    freq = str(frequency) + 'Min'
    #freq = freq
    time_list = []
    for time in pd.date_range('2018-11-06 07:00:00', '2018-11-06 21:00:00', freq=freq):
        time_list.extend(pd.date_range(time, freq='1H', periods=1).strftime("%Y-%m-%d %H:%M:%S").tolist())
    return time_list

In [2]:
def reg_count(df,freq):
    df = df
    freq = freq
    intervals = h.gen_times_list(freq)

    def int_filter(df,i):
        df = df[(df.checkin_time > intervals[i]) & (df.checkin_time < intervals[i+1])]
        return df

    count = []
    t_index = []
    for i in range((len(intervals)-5)):
        df2 = int_filter(df,i)
        d2 = len(df2.ct1)
        count.append(d2)
        #print(d2)
        t_index.append(intervals[i+1])
    index = pd.DatetimeIndex(t_index)
    return pd.Series(count,index=index )

In [11]:
pathx = 'C:/Users/SIS Lab Admin/Desktop/Fall 2019/Python stuff/working_data/Check_In_All/RhodeIsland_Voter_Checkin_Roster_11.06.2018.csv'
dfx = pd.read_csv(pathx)
dfx.head()

df = pd.read_csv(pathx)
time_intervals_a = h.gen_times_list()
#precincts = list(df['precinct'].unique())
p_df = df[(df.precinct > 2800) &(df.precinct <2899)]
precincts = list(p_df['precinct'].unique())

interval_counts = []
for i in range(len(precincts)):
    df2 = df[(df.precinct == precincts[i]) ]   
    counts = []
    
    for j in range(len(time_intervals_a)-1):
        df3 = df2[(df2.checkin_time > time_intervals_a[j]) & (df2.checkin_time < time_intervals_a[j+1])]    
        counts.append(len(df3))
        
    interval_counts.append(counts)
    
df4 = pd.DataFrame(interval_counts,index = precincts)
df4.head()
df4.T
#df4.to_csv('C:/Users/SIS Lab Admin/Desktop/test_data.csv')

,2866,2876,2826,2874,2844,2824,2863,2842,2823,2851,...,2836,2804,2840,2843,2833,2859,2810,2834,2878,2867
0,198,87,142,179,188,272,128,32,168,220,...,3,72,62,90,61,76,25,40,4,11
1,127,73,126,113,139,156,68,26,135,112,...,0,81,47,43,47,27,11,31,13,15
2,82,55,107,88,96,137,52,13,99,97,...,0,78,46,28,65,16,4,23,2,9
3,58,52,99,111,79,156,65,12,101,70,...,5,61,40,23,40,11,10,27,4,9
4,97,115,166,165,147,244,76,22,160,91,...,3,51,29,47,80,30,5,48,9,12
5,86,84,102,102,88,160,55,4,133,72,...,0,28,19,34,46,20,13,15,5,12

In [12]:
pathg = './data/RI Precinct OBJECTIDs.csv'
df = pd.read_csv(pathg)
df.iloc[1]
df

     NAME  OBJECTID
0     101         1
1     102         0
2     103         4
3     104         2
4     105         3
..    ...       ...
412  3908       353
413  3909       361
414  3910       357
415  3911       356
416  3912       412

[417 rows x 2 columns]

In [4]:


path = 'data/CI_for_Prov_norm.csv'
df = pd.read_csv(path)
df.head()

,Unnamed: 0,OBJECTID,n1,n2,n3,n4,n5,n6
0,2801,219,0.321429,0.214286,0.214286,0.092857,0.085714,0.071429
1,2802,224,0.385870,0.244565,0.119565,0.125000,0.065217,0.059783
2,2803,227,0.393665,0.201810,0.092308,0.105882,0.120362,0.085973
3,2804,226,0.194070,0.218329,0.210243,0.164420,0.137466,0.075472
4,2805,225,0.339514,0.195013,0.140665,0.101662,0.122762,0.100384

,11/6/2018 7:00,11/6/2018 8:00,11/6/2018 9:00,11/6/2018 10:00,11/6/2018 11:00,11/6/2018 12:00,11/6/2018 13:00,11/6/2018 14:00,11/6/2018 15:00,11/6/2018 16:00,11/6/2018 17:00,11/6/2018 18:00,11/6/2018 19:00,11/6/2018 20:00,NaN,NaN
2801,0.535714,0.121429,0.092857,0.042857,0.050000,0.050000,0.035714,0.050000,0.021429,0.000000,0.0,0.0,0.0,0.0,NaN,NaN
2802,0.630435,0.054348,0.065217,0.081522,0.043478,0.038043,0.027174,0.032609,0.027174,0.000000,0.0,0.0,0.0,0.0,NaN,NaN
2803,0.595475,0.043439,0.048869,0.047059,0.058824,0.055204,0.065158,0.054299,0.031674,0.000000,0.0,0.0,0.0,0.0,NaN,NaN
2804,0.412399,0.134771,0.075472,0.102426,0.061995,0.070081,0.067385,0.053908,0.021563,0.000000,0.0,0.0,0.0,0.0,NaN,NaN
2805,0.534527,0.076726,0.063939,0.051790,0.049872,0.054348,0.068414,0.070332,0.030051,0.000000,0.0,0.0,0.0,0.0,NaN,NaN
2806,0.578431,0.029412,0.039216,0.058824,0.039216,0.058824,0.068627,0.058824,0.068627,0.000000,0.0,0.0,0.0,0.0,NaN,NaN
2807,0.000000,0.000000,0.500000,0.000000,0.000000,0.000000,0.000000,0.000000,0.500000,0.000000,0.0,0.0,0.0,0.0,NaN,NaN
2808,0.569838,0.062753,0.047571,0.050607,0.055668,0.062753,0.068826,0.052632,0.028340,0.001012,0.0,0.0,0.0,0.0,NaN,NaN
2809,0.531429,0.057959,0.051429,0.052245,0.047347,0.076735,0.076735,0.069388,0.036735,0.000000,0.0,0.0,0.0,0.0,NaN,NaN
2810,0.529412,0.044118,0.014706,0.044118,0.102941,0.044118,0.029412,0.147059,0.044118,0.000000,0.0,0.0,0.0,0.0,NaN,NaN
2811,0.428341,0.066023,0.041868,0.045089,0.053140,0.077295,0.117552,0.114332,0.056361,0.000000,0.0,0.0,0.0,0.0,NaN,NaN
2812,0.404632,0.069482,0.059946,0.066757,0.074932,0.069482,0.114441,0.099455,0.039510,0.001362,0.0,0.0,0.0,0.0,NaN,NaN
2813,0.389868,0.088106,0.061674,0.055066,0.066079,0.085903,0.094714,0.105727,0.050661,0.002203,0.0,0.0,0.0,0.0,NaN,NaN
2814,0.415625,0.050000,0.050000,0.084375,0.075000,0.046875,0.096875,0.121875,0.059375,0.000000,0.0,0.0,0.0,0.0,NaN,NaN
2815,0.596793,0.042383,0.057274,0.064147,0.043528,0.049255,0.063001,0.058419,0.025200,0.000000,0.0,0.0,0.0,0.0,NaN,NaN
2816,0.543109,0.052786,0.062170,0.048680,0.050440,0.064516,0.062757,0.071554,0.043988,0.000000,0.0,0.0,0.0,0.0,NaN,NaN
2817,0.544194,0.054882,0.053148,0.045638,0.050838,0.061814,0.065858,0.077412,0.046216,0.000000,0.0,0.0,0.0,0.0,NaN,NaN
2818,0.526376,0.063073,0.057339,0.049312,0.045872,0.080275,0.072248,0.075688,0.027523,0.002294,0.0,0.0,0.0,0.0,NaN,NaN
2819,0.441288,0.064394,0.064394,0.065341,0.075758,0.084280,0.084280,0.069129,0.051136,0.000000,0.0,0.0,0.0,0.0,NaN,NaN
2820,0.483871,0.112903,0.064516,0.056452,0.072581,0.064516,0.056452,0.056452,0.032258,0.000000,0.0,0.0,0.0,0.0,NaN,NaN
2821,0.397974,0.078148,0.070912,0.056440,0.059334,0.114327,0.111433,0.076700,0.034732,0.000000,0.0,0.0,0.0,0.0,NaN,NaN
2822,0.408284,0.076923,0.065089,0.071006,0.035503,0.088757,0.130178,0.082840,0.041420,0.000000,0.0,0.0,0.0,0.0,NaN,NaN
2823,0.380653,0.075377,0.048995,0.047739,0.079146,0.091709,0.109296,0.100503,0.065327,0.001256,0.0,0.0,0.0,0.0,NaN,NaN
2824,0.380444,0.064000,0.057778,0.069333,0.069333,0.101333,0.115556,0.092444,0.049778,0.000000,0.0,0.0,0.0,0.0,NaN,NaN
2825,0.411290,0.048387,0.112903,0.048387,0.032258,0.088710,0.129032,0.064516,0.064516,0.000000,0.0,0.0,0.0,0.0,NaN,NaN
2826,0.361186,0.067385,0.076819,0.060647,0.072776,0.090296,0.133423,0.098383,0.039084,0.000000,0.0,0.0,0.0,0.0,NaN,NaN
2827,0.376543,0.077778,0.040741,0.059259,0.079012,0.095062,0.123457,0.104938,0.043210,0.000000,0.0,0.0,0.0,0.0,NaN,NaN
2828,0.442568,0.067568,0.054054,0.064189,0.067568,0.081081,0.113176,0.074324,0.035473,0.000000,0.0,0.0,0.0,0.0,NaN,NaN
2829,0.384848,0.092424,0.062121,0.053030,0.065152,0.095455,0.089394,0.100000,0.057576,0.000000,0.0,0.0,0.0,0.0,NaN,NaN
2830,0.418605,0.116279,0.046512,0.069767,0.093023,0.093023,0.046512,0.069767,0.046512,0.000000,0.0,0.0,0.0,0.0,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2851,0.501511,0.070997,0.075529,0.063444,0.042296,0.063444,0.074018,0.075529,0.033233,0.000000,0.0,0.0,0.0,0.0,NaN,NaN
2852,0.391061,0.089385,0.083799,0.022346,0.050279,0.078212,0.128492,0.106145,0.050279,0.000000,0.0,0.0,0.0,0.0,NaN,NaN
2853,0.432749,0.081871,0.070175,0.035088,0.029240,0.070175,0.128655,0.064327,0.087719,0.000000,0.0,0.0,0.0,0.0,NaN,NaN
2854,0.463623,0.061341,0.069187,0.042796,0.059914,0.081312,0.094151,0.079173,0.048502,0.000000,0.0,0.0,0.0,0.0,NaN,NaN
2855,0.414807,0.053753,0.060852,0.049696,0.059838,0.084178,0.106491,0.099391,0.070994,0.000000,0.0,0.0,0.0,0.0,NaN,NaN
2856,0.261905,0.166667,0.023810,0.023810,0.047619,0.119048,0.214286,0.047619,0.095238,0.000000,0.0,0.0,0.0,0.0,NaN,NaN
2857,0.342857,0.157143,0.057143,0.057143,0.042857,0.085714,0.157143,0.042857,0.057143,0.000000,0.0,0.0,0.0,0.0,NaN,NaN
2858,0.272300,0.098592,0.046948,0.056338,0.032864,0.117371,0.211268,0.112676,0.051643,0.000000,0.0,0.0,0.0,0.0,NaN,NaN
2859,0.572222,0.055556,0.033333,0.033333,0.027778,0.061111,0.105556,0.077778,0.033333,0.000000,0.0,0.0,0.0,0.0,NaN,NaN
2860,0.377551,0.081633,0.122449,0.030612,0.081633,0.112245,0.102041,0.081633,0.010204,0.000000,0.0,0.0,0.0,0.0,NaN,NaN
2861,0.485619,0.082965,0.059735,0.050885,0.053097,0.069690,0.088496,0.077434,0.032080,0.000000,0.0,0.0,0.0,0.0,NaN,NaN
2862,0.459716,0.074645,0.045024,0.077014,0.059242,0.059242,0.092417,0.086493,0.046209,0.000000,0.0,0.0,0.0,0.0,NaN,NaN
2863,0.441441,0.063063,0.054054,0.056306,0.090090,0.065315,0.105856,0.078829,0.045045,0.000000,0.0,0.0,0.0,0.0,NaN,NaN
2864,0.396476,0.079295,0.039648,0.088106,0.057269,0.070485,0.110132,0.105727,0.052863,0.000000,0.0,0.0,0.0,0.0,NaN,NaN
2865,0.432432,0.094595,0.067568,0.087838,0.074324,0.074324,0.081081,0.060811,0.027027,0.000000,0.0,0.0,0.0,0.0,NaN,NaN
2866,0.501543,0.063272,0.063272,0.046296,0.043210,0.054012,0.095679,0.087963,0.044753,0.000000,0.0,0.0,0.0,0.0,NaN,NaN
2867,0.382353,0.088235,0.044118,0.058824,0.073529,0.044118,0.132353,0.102941,0.073529,0.000000,0.0,0.0,0.0,0.0,NaN,NaN
2868,0.437177,0.089501,0.051635,0.060241,0.080895,0.079174,0.106713,0.063683,0.030981,0.000000,0.0,0.0,0.0,0.0,NaN,NaN
2869,0.426667,0.133333,0.026667,0.053333,0.026667,0.080000,0.146667,0.053333,0.053333,0.000000,0.0,0.0,0.0,0.0,NaN,NaN
2870,0.314947,0.064057,0.065836,0.064057,0.088968,0.097865,0.138790,0.112100,0.053381,0.000000,0.0,0.0,0.0,0.0,NaN,NaN
2871,0.387909,0.088161,0.065491,0.045340,0.070529,0.085642,0.128463,0.090680,0.037783,0.000000,0.0,0.0,0.0,0.0,NaN,NaN
2872,0.550000,0.033333,0.050000,0.066667,0.083333,0.083333,0.066667,0.066667,0.000000,0.000000,0.0,0.0,0.0,0.0,NaN,NaN
2873,0.318182,0.106061,0.075758,0.106061,0.045455,0.045455,0.136364,0.090909,0.075758,0.000000,0.0,0.0,0.0,0.0,NaN,NaN
2874,0.386034,0.075099,0.040843,0.068511,0.077734,0.094862,0.122530,0.097497,0.036891,0.000000,0.0,0.0,0.0,0.0,NaN,NaN
2875,0.314176,0.060026,0.070243,0.068966,0.085568,0.103448,0.143040,0.093231,0.061303,0.000000,0.0,0.0,0.0,0.0,NaN,NaN
2876,0.343348,0.068670,0.049356,0.055794,0.055794,0.072961,0.173820,0.124464,0.055794,0.000000,0.0,0.0,0.0,0.0,NaN,NaN
2877,0.338710,0.080645,0.100806,0.068548,0.080645,0.080645,0.096774,0.104839,0.048387,0.000000,0.0,0.0,0.0,0.0,NaN,NaN
2878,0.459459,0.027027,0.027027,0.108108,0.000000,0.162162,0.081081,0.027027,0.108108,0.000000,0.0,0.0,0.0,0.0,NaN,NaN
2879,0.351464,0.069038,0.075314,0.075314,0.075314,0.106695,0.131799,0.081590,0.033473,0.000000,0.0,0.0,0.0,0.0,NaN,NaN
2880,0.450877,0.073684,0.057895,0.052632,0.073684,0.087719,0.078947,0.071930,0.052632,0.000000,0.0,0.0,0.0,0.0,NaN,NaN