# Basic Example 

    This program is meant to guide you through the proccess of making a Choropleth Map with the folium python package. In order for the program to work correctly, step through each cell in sequential order by pressing shift-enter. Shift-enter executes the cell and its code. Press shift-enter to tab through header cells that contain words/instructions for the following cell. Each code cell is labeled with "In[]:". After the cell is run, "Out[]:" will display below with the output of the previous cell if any, and automatically tabs to the next cell. The number inside the bracket represents the order in which the cell was executed. When you shift-enter on a text cell, like this one, nothing will happen. The following cell starts our program.

### 1. Import all the packages necessary to run this program by pressing shift-enter on the packages class

In [13]:
class packages:
    """all the packages necessary"""
import pandas as pd
import json
import os
import geopandas as gpd
import folium
import matplotlib.pyplot as plt
import numpy as np
from folium.plugins import TimeSliderChoropleth
from branca.colormap import linear
from random import choices
import HTA_helpers as h

### 2. Set "state_geo" variable using one of the two options in the cell below in geodata class

Choose an option by deleting the hashtag before "state_geo" and press shift-enter

Data options:
-  Use data stored in this repository  
-  Use data from the internet.

In [14]:
class geodata():
    global state_geo
    
    state_geo = "./data/test_gdf.geojson"
    #state_geo=('https://opendata.arcgis.com/datasets/d12408938f6d42a4b02256087290cc4f_0.geojson')

### Display preview of geodata stored in "state_geo" by pressing shift-enter to run displays class

In [15]:
class display: 
    global gdf
    gdf = gpd.read_file(state_geo)
    #gdf.head() #can't get this to work james try to run it on your laptop 
    #print(gdf)
    
gdf.head()

,OBJECTID,NAME,Shape__Area,Shape__Length,geometry
0,1,0102,0.000348,0.153037,"MULTIPOLYGON (((-71.34122 41.73016, -71.34123 ..."
1,2,0101,0.000426,0.107569,"POLYGON ((-71.32270 41.77270, -71.32270 41.772..."
2,3,0104,0.000509,0.338228,"MULTIPOLYGON (((-71.30425 41.74515, -71.30415 ..."
3,4,0105,0.000520,0.297727,"MULTIPOLYGON (((-71.29308 41.71355, -71.29309 ..."
4,5,0103,0.000584,0.158078,"POLYGON ((-71.31979 41.73751, -71.32057 41.737..."

### 3. Set time interval for the choropleth map using time class by pressing shift-enter

In [16]:
class time: 
    global times
    
    #times = h.gen_times_list(bin_type=bin_type)
    
    time_0 = '2018-11-06 07:00:00' #start
    time_1a = '2018-11-06 10:00:00' #10am
    time_2a = '2018-11-06 12:00:00' #12am
    time_3 = '2018-11-06 14:00:00' #2pm
    time_4 = '2018-11-06 16:00:00' #4pm
    time_5 = '2018-11-06 18:00:00' #6pm
    time_6 = '2018-11-06 21:00:00' #9pm
    times = list([time_0,time_1a,time_2a,time_3,time_4,time_5,time_6])
print(times)
times = pd.to_datetime(['2018-11-06 07:00:00','2018-11-06 10:00:00','2018-11-06 12:00:00','2018-11-06 14:00:00','2018-11-06 16:00:00','2018-11-06 18:00:00']) 
print()
print(times)
times = pd.to_numeric(times)/1e9
times = np.asarray(times.astype('U10'))
print()
print(times)

['2018-11-06 07:00:00', '2018-11-06 10:00:00', '2018-11-06 12:00:00', '2018-11-06 14:00:00', '2018-11-06 16:00:00', '2018-11-06 18:00:00', '2018-11-06 21:00:00']

DatetimeIndex(['2018-11-06 07:00:00', '2018-11-06 10:00:00',
               '2018-11-06 12:00:00', '2018-11-06 14:00:00',
               '2018-11-06 16:00:00', '2018-11-06 18:00:00'],
              dtype='datetime64[ns]', freq=None)

['1541487600' '1541498400' '1541505600' '1541512800' '1541520000'
 '1541527200']

### 4. Run the electiondata class to call the path to the EPB data by pressing shift-enter

In [18]:
class electiondata:
    global path, df
    path = './data/static_CI_counts.csv'
    df = pd.read_csv(path,index_col = 0)
df.head() 
    #print(prov_df)

,2866,2625,1609,2876,1601,1702,1704,3531,2826,726,...,2878,3605,618,2867,2105,304,704,2606,2610,1202
1541487600,198,64,231,87,212,228,389,517,142,254,...,4,354,97,11,325,224,50,75,19,266
1541498400,127,46,169,73,157,120,235,308,126,153,...,13,299,72,15,189,131,46,55,14,168
1541505600,82,36,118,55,82,64,150,226,107,94,...,2,146,54,9,124,89,33,47,11,101
1541512800,58,32,91,52,102,78,180,192,99,102,...,4,170,42,9,141,87,35,46,18,124
1541520000,97,45,106,115,148,98,235,245,166,177,...,9,174,87,12,150,137,47,98,21,183

### 5. Merge data sets by running computedata class by pressing shift-enter

In [19]:
class compoutedata: 
    global PN_lookup_dict, geo_lookup_dict
    PN_lookup_dict = {}
    geo_lookup_dict = {}
    for OBJECTID in gdf.index:
        PN_lookup_dict[OBJECTID] = {'NAME':gdf.iloc[OBJECTID]['NAME']}
        geo_lookup_dict[OBJECTID] = {'geometry':gdf.iloc[OBJECTID]['geometry']}

### 6. Style the map by using cholorscheme class and pressing shift-enter
    Code sets min and max values for color and opacity

In [20]:
class cholorscheme:
    global pct_list, styledata
    style_df = df.set_index(times)
    styledata = {}
    for OBJECTID in gdf.index:
        PN = PN_lookup_dict[OBJECTID]['NAME']
        try:
            pct_list = pd.Series(style_df[int(PN)]).to_list()
        except KeyError:
            pct_list = choices([10,20,40,50,60,70,80,90,100,110],k=6)
            cap_vals = [1,1,1,1,1,1]
        df = pd.DataFrame(
            {'color': np.asarray(pct_list),
             'opacity': np.asarray(cap_vals)},
            index=times)
        styledata[OBJECTID] = df
        
max_color, min_color, max_opacity, min_opacity = 0, 0, 0, 0

for OBJECTID, data in styledata.items():
    max_color = max(max_color, data['color'].max())
    min_color = min(max_color, data['color'].min())
    max_opacity = max(max_color, data['opacity'].max())
    min_opacity = min(max_color, data['opacity'].min())
#print(styledata)

### Select linear color maping by choosing a color class by pressing shift-enter  
Applies colormap to and opacity styledata.items. You can change color scheme by changing ('linear.grey_08.scale')

Look for color scemes here:
   __[color code](https://docs.juliaplots.org/latest/generated/colorschemes/)__

In [21]:
 class color:
        global colorscale
        colorscale = linear.Greys_08.scale(min_color, max_color)

for OBJECTID, data in styledata.items():
    data['color'] = data['color'].apply(colorscale)
    data['opacity'] = data['opacity']

styledict = {
    str(OBJECTID): data.to_dict(orient='index') for
    OBJECTID, data in styledata.items()
}

### 7. Use the "state_geo" data, color settings, and time interval "times" to generate map in render class by pressing shift-enter

In [25]:
class render:
    pass

m = folium.Map([41.8240, -71.4128],  zoom_start=10)
g = TimeSliderChoropleth(
        #shapepath,
        gdf.to_json(),
    #path,
    #geodict,
        styledict=styledict,
        overlay = True,
        name = 'state_geo',
        control = False
    ).add_to(m)

### 8. Save the map to the data file in the repository by runing save class with shift-enter
    Change the name by changing "HTA_test0" to the desired name of the map

In [ ]:
class save: 
    m.save(outfile = "./data/HTA_test0.html')